/* --GLOBAL-- */

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400;1,700&family=Saira:ital,wght@0,700;1,700&display=swap');

:root {
    --primary: #00DCB9;
    --secondary: #0A192D;
    --tertiary: #D7EBEB;
 }
 
 * {
    box-sizing: border-box;
 }
 body{
    margin: 1rem; 
    padding: 0;
    font-family: 'Mulish', sans-serif;
    font-size: 1.2rem;
    line-height: 1.4;
    background: white;
    color: var(--secondary);
 }